<%= form_with(model: message, remote: true, class: "bg-blue-200 p-3") do |form| %>

  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %>
        prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: message.user_id %>
  <%= form.hidden_field :chat_room_id, value: message.chat_room_id %>
  <div class="flex w-full gap-x-2">
    <%= form.label :content,value: "Send a message", class: "sr-only" %>
    <%= form.text_field :content, class: "rounded-md w-full" %>
    <%= form.submit "Send", class: "bg-blue-400 hover:bg-green-400 p-2 rounded-md" %>
  </div>

<% end %>
