<div
  class="flex flex-col flex-1"
  data-controller="chat"
  data-chat-room-id-value="<%= @chat_room.id %>"
  data-chat-user-id-value="<%= current_user&.id %>"
>
  <div
    class="
      flex
      bg-purple-300
      p-3
      items-center
      justify-between
      shadow-gray-300
      shadow
    "
  >
    <h1 class="text-3xl font-bold text-center ">Chat Room:
      <%= @chat_room.name.capitalize %></h1>
    <ul class="flex flex-col gap-y-2">
      <li>
        <%= link_to "Back to chat rooms",
        chat_rooms_path,
        class: "p-2 rounded-md bg-blue-200 hover:bg-blue-400" %>
      </li>
      <li>
        <%= button_to "Destroy this chat room",
        @chat_room,
        method: :delete,
        class: "p-2 rounded-md bg-blue-200 hover:bg-blue-400 " %>
      </li>
    </ul>
  </div>
  <div class="flex flex-col flex-1">
    <%= turbo_stream_from "room:#{@chat_room.id}" %>
    <div
      id="messages"
      class="flex flex-col-reverse flex-1 bg-gray-200 overflow-scroll"
      data-chat-target="messages"
    >
      <% @chat_room.messages.reverse.each do |message| %>
        <%= render partial: "messages/message",
        locals: {
          user: current_user,
          message: message
        } %>
      <% end %>
    </div>
    <div class="h-7 bg-gray-200 ">
      <span class="text-md block px-2" data-chat-target="typingUsers"></span>
    </div>
    <%= render "messages/form", message: @message %>
  </div>
</div>
<!-- I really hate having the styling here but idk how else to do it -->
<style>
div.usr-<%= current_user&.id %> {
  background-color: #90ec90;
  margin-inline-start: auto;
}
#messages {
  max-height: calc(100dvh - 254px);
}
</style>
